.main-theme {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #FC7A79 0%, #D3D8FF 100%);
}

/* Loading Page */
.transition-fadeout {
  position: absolute;
  width: 30%;
  left: calc(50% - 431px/2 + 0.5px);
  top: calc(50% - 109px/2 - 0.5px);

  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 4s, opacity 4s linear;
}

/* Drawing Board Page */
.logo-location {
  position: absolute;
  width: 304px;
  height: 77px;
  left: 568px;
  top: 42px;
}

/* YouTube Video */
.youtube-video {
  position: absolute;
  margin: 5%;
  left: 400px;
  top: 250px;
}

::-webkit-scrollbar {
  display: none;
}